<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/header.ejs') %>
    <title>Home</title>
</head>
<body>
    <%- include('partial/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1> Perguntas </h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3><%= pergunta.titulo %></h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary">Responder</a>
                </div>

            </div>

        <% }) %>
    </div>

</body>
<%- include('partial/footer.ejs') %>
</html>